<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="sqm_config.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="sqm_config.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <sqm_config.Properties.Settings>
            <setting name="SelectedCOMport" serializeAs="String">
                <value />
            </setting>
            <setting name="AutoConnect" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
        </sqm_config.Properties.Settings>
        <sqm_config.Settings>
            <setting name="SelectedCOMport" serializeAs="String">
                <value />
            </setting>
        </sqm_config.Settings>
    </userSettings>
</configuration>